# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
MYMETA.json

Makefile

MYMETA.yml

blib/*
*.tar.gz
pm_to_blib
